/*Обнуление*/
@import "_null-style";
/*--------------------*/
//========================================== шрифты
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
//==========================================
//font-family: 'Roboto', sans-serif;

//технические класы=====================
.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;
	margin: 0px auto;
}

.container{
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 20px;
	// border: solid 1px #3f3;
}

//======================================
main{
	flex: 1 1 auto;
}

body{
	font-weight: 400;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	padding-top: 110px;
}
body.lock{
	overflow: hidden;
	
}

.btn-primary{
	font-size: 15px;
		line-height: 22px;
		color: #fff;
		text-transform: uppercase;
		padding: 5px 37px;
		background: #FF4A32;
		border-radius: 35px;
		transition: 0.4s ease 0s;
		&:nth-child(1){
			margin-right: 12px;
		}
		&:hover{
			background: #f7341a;
		}
}

//=========================================шапка начало
.header-content-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1480px;
	padding: 20px;
}

	.header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 50;
		background: #fff;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		&__topline-container {
			display: flex;
			justify-content: center;
			background-color: #000;
			width: 100%;
		}

		&__topline {
			padding: 7px 0;
			font-size: 12px;
			line-height: 15px;
			color: #fff;
		}

		&__nav{
			margin-right: 100px;
		}
		
		&__nav-list {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
		}

		&__nav-list-item {
			padding: 10px;
			font-size: 14px;
			line-height: 21px;
			letter-spacing: 1px;
			color: #000;
			transition: 0.2s 0s ease;
			&:hover{
				background-color:#000;
				color: #fff;
			}
		}

		&__buttons {
			display: flex;
			flex-direction: row;
			width: 70px;
			justify-content: space-between;
		}

		&__buttons-user {
			background: url(../img/icons/avatar.svg) center / 18px 18px no-repeat;
			width: 18px;
			height: 18px;
			padding: 12px;
			transition: 0.2s 0s ease;
			&:hover{
				background: #000 url(../img/icons/avatar-white.svg) center / 18px 18px no-repeat;

			}
		}

		&__buttons-cart {
			background: url(../img/icons/cart.svg) center / 18px 18px no-repeat;
			width: 18px;
			height: 18px;
			padding: 12px;
			transition: 0.2s 0s ease;
			&:hover{
				background: #000 url(../img/icons/cart-white.svg) center / 18px 18px no-repeat;

			}
		}
		&__burger{
			display: none;
		}
		}		
//=========================================шапка конец



//=========================================Адаптив шапкки начало
@media (min-width:1441px) {
	.header-content-container{
		margin: 0 auto;
		width: 1460px;
	}
}

@media (max-width:1023px) {
	.header__nav{
		display: block;
		
	}
	.header__burger{
		visibility: visible;
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		& span, ::before, ::after{
			left: 0;
			position: absolute;
			height: 4px;
			width: 100%;
			transition: all 0.4s ease 0s;
			background-color: #000;
		}
		& ::before{
			content: "";
			top: 10px;
		}
		& ::after{
			content: "";
			bottom: 10px;
		}
		& span{
			top: 50%;
			transform: scale(1) translate(0px, -50%);
		}
	}
	.header__burger.active{
		& ::before{
			background-color: #fff;
			height: 1.5px;
			top: 50%;
			transform: rotate(-45deg) translate(0, 0);
		}
		& ::after{
			background-color: #fff;
			height: 1.5px;
			top: 50%;
			transform: rotate(45deg) translate(0, 0);
		}
	}
	
	.header__nav-list{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		flex-wrap: nowrap;
		position: absolute;
		top: -300%;
		left: 10px;
		padding: 60px 5px 5px 5px;
		background: #000;
		z-index: 4;
		overflow: auto;
		transition: top 0.4s ease 0s;
	}

	.header__nav-list.active{
		top: 39px;
	}

	.header__nav-list-item{
		color: #fff;
		font-size: 16px;
		&:hover{
			text-decoration: underline;
		}
	}
	
	.header__logo{
		margin-left: 25%;
	}
}

@media (max-width:513px){
	.header__logo{
		margin-left: 0;
		margin-right: -45%;
	}
}
@media (max-width:374px) {
	.header__buttons{
		width: 60px;
	}	
}
//=========================================адаптив шапки конец

//=========================================первый экран начало
.hero-1{
	background: url(../img/hero-1.webp) center / cover no-repeat;
}

.hero {
	
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 50px 0 620px 0;
	}

	&__title {
		font-size: 45px;
		line-height: 50px;
		color: #000;
		margin-bottom: 15px;
		text-align: center;
	}

	&__hero-text {
		font-size: 15px;
		line-height: 18px;
		letter-spacing: 1px;
		text-align: center;
		color: #000;
		margin-bottom: 20px;		
	}

	// &__buttons {
	// }
	// &__buttons-btn {
		
	// }
}
//=========================================первый экран адаптив
@media (max-width:424px) {
	.hero{
		&__content {
			padding: 50px 0 100px 0;
			
		}
		&__text-container{
			background: rgba(255, 254, 254, 0.5);
		}
		&__title{
			margin-bottom: 30px;
		}
		&__hero-text{
			margin-bottom: 40px;
		}
		&__buttons {
			display: flex;
			flex-direction: column;
			width: 70%;
			margin-top: 20px;
		}
		&__buttons-btn{
			width: 100%;
			margin-bottom: 30px;
			padding: 10px 37px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}
@media (max-width:1000px) {
	.hero{
		&__content {
			padding: 50px 0 400px 0;
		}
	}
}
@media (max-width:750px) {
	.hero{
		&__content {
			padding: 50px 0 300px 0;
		}
	}
}
@media (max-width:600px) {
	.hero{
		&__content {
			padding: 50px 0 200px 0;
		}
		&__text-container{
			background: rgba(255, 254, 254, 0.5);
			padding: 10px 0 20px 0;
			width: 100%;
		}
		&__buttons {
			margin-top: 40px;
		}
	}
}
//=========================================первый экран конец

//=========================================партнеры начало
.partners {
	background: #000;
	width: 100%;
	min-height: 80px;
	display: flex;
	align-items: center;
	&__content {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		width: 100%;
	}

	&__content-item {
		max-width: 300px;
		cursor: pointer;
		& img{
			width: 100%;
			padding: 10px;
		}
	}
}
//=========================================партнеры адаптив
@media (max-width:650px){
	.partners {
		
		&__content {
			flex-wrap: wrap;
			padding: 5px;
		}
	}
}
//=========================================партнеры конец

//=========================================второй блок начало
.h2-title{	
	font-size: 32px;
	line-height: 36px;
	color: #000;
}
.description-global{
	font-size: 15px;
	line-height: 18px;
	color: #000;
}

.offer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 50px 0 20px 0;
	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 70px;
	}

	&__title {
		max-width: 700px;
		text-align: center;
	}

	&__text {
		position: relative;
		text-align: center;
		max-width: 700px;
		margin: 20px 0 0 0;
		&::after{
			content: "";
			position: absolute;
			bottom: -25px;
			left: 45%;
			width: 70px;
			height: 2px;
			background-color: #CFCFCF;
		}
	}

	&__cards {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__cards-1 {
		margin-right: 15px;
	}
}

@media (max-width:768px){
	.offer{
		&__cards-1 {
			margin: 0 0 15px 0;
		}
		&__cards {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	.offer-card{
		margin-bottom: 10px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

@media (max-width:425px){
		.offer{
		&__text {
			&::after{
				bottom: -25px;
				left: 42%;
			}
		}
	}
}

.offer-card {
	position: relative;
	max-width: 580px;
	&__image {
		width: 100%;
	}

	&__link {
		position: absolute;
		left: 30%;
		top: 35%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10px;
		transition: 0.4s ease 0s;
		&:hover{
			background: rgba(139, 139, 139, 0.5);
			border-radius: 2px;
		}
	}
	&__link-img{
		width: 50px;
		height: 50px;
		margin-bottom: 10px;
	}
	&__link-text {
		font-size: 25px;
		line-height: 30px;
		color: #fff;
		text-align: center;
	}

	&__link-label {
		display: block;
		text-align: center;
	}

	&__link-desc {
		font-size: 18px;
		line-height: 23px;
		text-transform: uppercase;
	}
}
@media (max-width:570px) {
	.offer-card {
		width: 100%;
		&__link {
			left: 20%;
			top: 35%;
		}
	}

	&__cards {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__cards-1 {
		margin-right: 0;
	}
}

@media (max-width:375px) {
	.offer-card {
		
		&__link {
			left: 12%;
			top: 35%;
		}
	}
}
//=========================================второй блок конец

//=========================================третий блок начало
.hero-2 {
	background: url(../img/hero-2.webp) center / cover no-repeat;
}
//=========================================третий блок конец

//=========================================четвертый блок начало
.revs-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 45px 20px 45px 0;
	&__image-1 {
		max-width: 380px;
		& img{
			width: 100%;
		}
	}
	&__image-2 {
		max-width: 380px;
		margin-left: -50px;
		& img{
			width: 100%;
		}
	}
	&__text {
		max-width: 340px;
	}

	&__title{
		max-width: 300px;
		margin-bottom: 20px;
	}

	&__decsription{
		max-width: 340px;
		margin-bottom: 20px;
	}
}

//=========================================четвертый блок адаптив
@media (max-width:1190px) {
	.revs-block{
		justify-content: center;
		padding: 25px 20px 25px 0;
		flex-wrap: wrap-reverse;
		&__image-2{
			display: none;
		}
		&__image-1{
			margin-right: 40px;
		}
		&__text {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-bottom: 15px;
		}
	}
}
@media (max-width:781px){
	.revs-block{
		padding: 35px 5px;
		&__image-1{
			margin-right: 20px;
		}
	}
}
@media (max-width:424px){
	.revs-block{
		padding: 35px 5px;
		&__image-1{
			margin-right: 0;
		}
	}
}
//=========================================четвертый блок конец

//=========================================четвертый блок(карточки) начало
.offer-2-card-1{
	margin-right: 0;
}
//=========================================четвертый блок(карточки) конец

//=========================================пятый блок (видео) начало
.video-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-bottom: 50px;
}
.video-content {
	width: 100%;
		&__item {
			max-width: 560px;
			margin-right: 20px;
			&:last-child{
				margin-right: 0;
			}
		}
		&__item-1{
			width: 580px;
			height: 315px;
		}
}
@media (max-width: 1199px) {
	.video-content {
		&__item {
			margin-bottom: 15px;
		}
	}
}
@media (max-width:425px) {
	.video-content {
		&__item {
			margin-bottom: 15px;
			margin-right: 0;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&__item-1{
			width: 300px;
			height: 315px;
			
		}
}
}
//=========================================пятый блок (видео) конец

//========================================= шестой блок(слайдер) начало
//====================================== Размер слайдера
.swiper {
	width: 100%;
	height: 300px;
 }
//====================================== Общие стили для цен в слайдере
.price-sale{
	color: #FF2121;
}
.price-sold-out {
	color: #000;
	opacity: 0.3;
}
//====================================== 
.accessories {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	min-width: 0;
	&__title {
		margin-bottom: 65px;
		& h3{
			font-weight: 700;
			font-size: 32px;
			line-height: 36px;
			text-align: center;
			color: #000;
		}
	}
	&__slider {
		position: relative;
	}
	&__slider-item {
		max-height: 240px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__slider-image {
		width: 185px;
	}

	&__slider-item-name {
		font-size: 15px;
		line-height: 18px;
		text-align: center;
		color: #FF4A32;
		margin: 15px 0 5px 0;
		max-width: 140px;
		display: inline-block;
		&:hover{
			text-decoration: underline;
		}
	}

	&__slider-item-price {
		font-size: 14px;
		line-height: 18px;
		color: #373737;
	}
}
//========================================= шестой блок(слайдер) конец 

.swiper-button-prev,.swiper-button-next {
	color: #000;
	width: 55px;
	height: 55px;
	background: rgba(255, 255, 255, 0.75);
	border-radius: 50%;
	position: absolute;
}
.swiper-button-prev{
	top: 45%;
	left: 10px;
}
.swiper-button-next{
	top: 45%;
	right: 10px;
}
// .swiper {}
// .swiper-wrapper {}
// .swiper-slide {}
// .swiper-pagination {}
// .swiper-scrollbar {}



.footer{
	width: 100%;
	background-color: #0f0f0f;
}